/* font_family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* header-section-start-here */
.header_container{
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 38px;
}
.header_content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.header_content a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    display: inline-block;

}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
/* header-section-end */

/* banner_section_start_here */
.banner_section{
    width: auto;
    height: 550px;
    margin: 0 auto;
    margin-top: 10px;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_content{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    margin-top: 30px;


}
.banner_content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner_content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.banner_content a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 16px 20px;
    background-color: black;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;

}
/* banner_section_end */


/* we-dev_section_start_here */

.web_dev_section{
    width: 1040px;
    height: 1150px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.we_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.we_content h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.we_content p{
    color:#0D1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* we-dev_section_end */


/* group_section_start_here */
.group_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding-left: 10px;


}
.group_text_content{
    margin-top: 1px;
    padding-right: 10%;
}
.group_text_content_R2{
    padding-left: 10%;
}
.group_text_content h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.group_text_content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.group_text_content button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid black;
    padding: 12px 20px 12px 20px;
    margin-top: 25px;
    background-color: white;
}
/* group_section_end */

/* iframe_area_start_here */

.iframe_area{
    width: 1050px;
    height: 780px;
    left: 148px;
    right: 152px;
    margin: 0 auto;
    margin-top: 40px;
}
.iframe_area h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;

}
.iframe_area p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
   
 
}
.iframe_dev{
    border: 1px solid rgb(188, 181, 181);
    padding: 30px 30px;
    border-radius: 16px;
    width: 100%;
    color: #ffffff;
    margin-top: 30px;

}
.video{
    border-radius: 16px;
}

/* iframe_area_end_here */

 /* targer_area_start here */
 .target_area{
    width: 1050px;
    height: 455px;
    margin:0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .target_content{
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

 }
 .target_content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
 }
 .target_content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
 }
 .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: px;
    margin: 0 auto;
 }
 .html_box{
    width: 348px;
    height: 280px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
    gap: 5px;
    border: 5px solid white;
    border-radius: 16px;
    background-color:#fff6f4;

 }
.box_img{
    width: 55px;
    height: 50px;
    margin: 24px 0px;
    margin-bottom: 20px;
}
.box_h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.box_p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
}
.box_a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
   
}
.color_css{
    background-color: #f2f6fe;
}
.color_js{
    background-color: #fbf9ee;
}

    
/*targer_area_end */

/* support_section_start_here */
.support_section{
    width: 1050px;
    height: 300px;
    margin: 0 auto;
    background-image: url(assets/handshake.jpg);
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 80px;
    border-radius: 16px;
    margin-top: 50px;
}
.support_content{
    padding: 54px 100px;

}
.support_content form{
    margin-left: 80px;
}
.support_content h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;

    
}
.support_content p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
}
.support_content form input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    padding: 17px 20px;
    width: 548px;
    padding-right: 60px;
}
.support_content form button[type='submit'] {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
}
/* support_section_end */


/* footer_section_start_here */
.footer_content{
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 120px;
    padding-left: 120px;
    background-color: #f7f8f8;
    
}
.social_link li{
    width: 36px;
    height: 36px;
    display: inline-block;;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    

}
.footer_content h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
/* footer_section_end */

